USE [master]
GO
/****** Object:  Database [FondoXYZ]    Script Date: 25/05/2026 11:37:26 p. m. ******/
CREATE DATABASE [FondoXYZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FondoXYZ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FondoXYZ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FondoXYZ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FondoXYZ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FondoXYZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FondoXYZ]
GO
/****** Object:  Table [dbo].[Caracteristica]    Script Date: 25/05/2026 11:37:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caracteristica](
	[CaracteristicaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CaracteristicaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 25/05/2026 11:37:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[DepartamentoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Espacio]    Script Date: 25/05/2026 11:37:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Espacio](
	[EspacioId] [int] IDENTITY(1,1) NOT NULL,
	[SedeId] [int] NOT NULL,
	[NumeroAlojamiento] [varchar](10) NOT NULL,
	[Capacidad] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Descripcion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[EspacioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspacioCaracteristica]    Script Date: 25/05/2026 11:37:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspacioCaracteristica](
	[EspacioId] [int] NOT NULL,
	[CaracteristicaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EspacioId] ASC,
	[CaracteristicaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Festivo]    Script Date: 25/05/2026 11:37:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Festivo](
	[Fecha] [date] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 25/05/2026 11:37:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipio](
	[MunicipioId] [int] IDENTITY(1,1) NOT NULL,
	[DepartamentoId] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MunicipioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 25/05/2026 11:37:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[ReservaId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[SedeId] [int] NOT NULL,
	[EspacioId] [int] NULL,
	[TipoReserva] [varchar](20) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[Personas] [int] NOT NULL,
	[IncluyeLavanderia] [bit] NOT NULL,
	[ValorTotal] [decimal](18, 2) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[ComprobantePagoUrl] [nvarchar](255) NULL,
	[CreadoEn] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sede]    Script Date: 25/05/2026 11:37:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sede](
	[SedeId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Ubicacion] [nvarchar](100) NOT NULL,
	[TipoSede] [varchar](30) NOT NULL,
	[DescripcionCorta] [nvarchar](500) NOT NULL,
	[DescripcionLarga] [nvarchar](max) NOT NULL,
	[RutaMapaUrl] [nvarchar](255) NULL,
	[ImagenPrincipalUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SedeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicioExtra]    Script Date: 25/05/2026 11:37:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicioExtra](
	[ServicioId] [int] IDENTITY(1,1) NOT NULL,
	[SedeId] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServicioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TarifaConfig]    Script Date: 25/05/2026 11:37:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarifaConfig](
	[TarifaConfigId] [int] IDENTITY(1,1) NOT NULL,
	[SedeId] [int] NOT NULL,
	[EspacioId] [int] NULL,
	[Capacidad] [int] NOT NULL,
	[TipoTemporada] [varchar](20) NOT NULL,
	[PrecioOrdinario] [decimal](18, 2) NULL,
	[PrecioEspecial] [decimal](18, 2) NULL,
	[EsVisitaDia] [bit] NOT NULL,
	[MinAcompanantesTarifaEspecial] [int] NULL,
	[PrecioAcompananteAdicional] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[TarifaConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temporada]    Script Date: 25/05/2026 11:37:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temporada](
	[TemporadaId] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](20) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TemporadaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 25/05/2026 11:37:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[NroDocumento] [varchar](20) NOT NULL,
	[NombreCompleto] [nvarchar](150) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Celular] [varchar](20) NULL,
	[DireccionEmail] [nvarchar](100) NOT NULL,
	[MunicipioId] [int] NOT NULL,
	[Barrio] [nvarchar](100) NOT NULL,
	[DireccionResidencia] [nvarchar](150) NOT NULL,
	[TelefonoResidencia] [varchar](20) NOT NULL,
	[PreguntaSecreta] [nvarchar](200) NOT NULL,
	[RespuestaSecreta] [nvarchar](64) NOT NULL,
	[Clave] [varchar](64) NOT NULL,
	[AutorizaCorreo] [bit] NOT NULL,
	[AutorizaCelular] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Caracteristica] ON 

INSERT [dbo].[Caracteristica] ([CaracteristicaId], [Nombre]) VALUES (1, N'Baño')
INSERT [dbo].[Caracteristica] ([CaracteristicaId], [Nombre]) VALUES (2, N'Cama doble')
INSERT [dbo].[Caracteristica] ([CaracteristicaId], [Nombre]) VALUES (7, N'Cama Sencilla')
SET IDENTITY_INSERT [dbo].[Caracteristica] OFF
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([DepartamentoId], [Nombre]) VALUES (1, N'Antioquia')
INSERT [dbo].[Departamento] ([DepartamentoId], [Nombre]) VALUES (2, N'Cundinamarca')
INSERT [dbo].[Departamento] ([DepartamentoId], [Nombre]) VALUES (3, N'Valle del Cauca')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Espacio] ON 

INSERT [dbo].[Espacio] ([EspacioId], [SedeId], [NumeroAlojamiento], [Capacidad], [Activo], [Descripcion]) VALUES (1, 1, N'H-1', 4, 1, N'Ocho habitaciones similares: cada una con una alcoba que contiene cama doble y camarote, baño privado, nevera, televisor y terraza cubierta. Incluye baño, cama doble, camarote, nevera, televisor, terraza cubierta.')
INSERT [dbo].[Espacio] ([EspacioId], [SedeId], [NumeroAlojamiento], [Capacidad], [Activo], [Descripcion]) VALUES (2, 1, N'H-2', 4, 1, N'Ocho habitaciones similares: cada una con una alcoba que contiene cama doble y camarote, baño privado, nevera, televisor y terraza cubierta. Incluye baño, cama doble, camarote, nevera, televisor, terraza cubierta.')
INSERT [dbo].[Espacio] ([EspacioId], [SedeId], [NumeroAlojamiento], [Capacidad], [Activo], [Descripcion]) VALUES (3, 1, N'H-3', 4, 1, N'Ocho habitaciones similares: cada una con una alcoba que contiene cama doble y camarote, baño privado, nevera, televisor y terraza cubierta. Incluye baño, cama doble, camarote, nevera, televisor, terraza cubierta.')
SET IDENTITY_INSERT [dbo].[Espacio] OFF
GO
INSERT [dbo].[EspacioCaracteristica] ([EspacioId], [CaracteristicaId]) VALUES (1, 1)
INSERT [dbo].[EspacioCaracteristica] ([EspacioId], [CaracteristicaId]) VALUES (1, 2)
INSERT [dbo].[EspacioCaracteristica] ([EspacioId], [CaracteristicaId]) VALUES (1, 3)
GO
INSERT [dbo].[Festivo] ([Fecha], [Nombre]) VALUES (CAST(N'2026-01-01' AS Date), N'Año Nuevo')
INSERT [dbo].[Festivo] ([Fecha], [Nombre]) VALUES (CAST(N'2026-01-12' AS Date), N'Reyes Magos')
INSERT [dbo].[Festivo] ([Fecha], [Nombre]) VALUES (CAST(N'2026-03-23' AS Date), N'San José')
GO
SET IDENTITY_INSERT [dbo].[Municipio] ON 

INSERT [dbo].[Municipio] ([MunicipioId], [DepartamentoId], [Nombre]) VALUES (1, 1, N'Medellín')
INSERT [dbo].[Municipio] ([MunicipioId], [DepartamentoId], [Nombre]) VALUES (2, 1, N'Bello')
INSERT [dbo].[Municipio] ([MunicipioId], [DepartamentoId], [Nombre]) VALUES (3, 1, N'Envigado')
SET IDENTITY_INSERT [dbo].[Municipio] OFF
GO
SET IDENTITY_INSERT [dbo].[Sede] ON 

INSERT [dbo].[Sede] ([SedeId], [Nombre], [Ubicacion], [TipoSede], [DescripcionCorta], [DescripcionLarga], [RutaMapaUrl], [ImagenPrincipalUrl]) VALUES (1, N'Villeta', N'Villeta', N'Sede Recreativa', N'Sede Villeta - alojamiento en habitaciones y camarotes', N'Ocho habitaciones cada una con una alcoba que tiene una cama doble y un camarote, baño, nevera, televisor y terraza cubierta. Capacidad total: hasta 32 personas.', NULL, N'https://images.unsplash.com/photo-1566073771259-6a8506099945?q=80&w=300')
INSERT [dbo].[Sede] ([SedeId], [Nombre], [Ubicacion], [TipoSede], [DescripcionCorta], [DescripcionLarga], [RutaMapaUrl], [ImagenPrincipalUrl]) VALUES (2, N'El Placer - Fusagasugá', N'Fusagasugá', N'Sede Recreativa', N'El Placer - Fusagasugá: alojamientos y bloque de cabañas', N'Alojamientos numerados 1-4 con combinaciones de camas (dobles y sencillas). Bloque de cabañas (5-8) con sala, baño, habitación con cama doble + sencilla, cocina. Capacidad total hasta 34 personas.', NULL, N'https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?q=80&w=300')
INSERT [dbo].[Sede] ([SedeId], [Nombre], [Ubicacion], [TipoSede], [DescripcionCorta], [DescripcionLarga], [RutaMapaUrl], [ImagenPrincipalUrl]) VALUES (3, N'Gonzalo Morante - Chinchiná', N'Chinchiná', N'Sede Recreativa', N'Gonzalo Morante - alojamientos y cabañas', N'Varios alojamientos con cocineta, baños y combinaciones de camas; bloque de cabañas tipo A y B. Capacidad total para hospedaje: hasta 30 personas.', NULL, N'https://images.unsplash.com/photo-1545324418-cc1a3fa10c00?q=80&w=300')
SET IDENTITY_INSERT [dbo].[Sede] OFF
GO
SET IDENTITY_INSERT [dbo].[ServicioExtra] ON 

INSERT [dbo].[ServicioExtra] ([ServicioId], [SedeId], [Nombre], [Precio]) VALUES (1, 8, N'Lavandería', CAST(18000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ServicioExtra] OFF
GO
SET IDENTITY_INSERT [dbo].[TarifaConfig] ON 

INSERT [dbo].[TarifaConfig] ([TarifaConfigId], [SedeId], [EspacioId], [Capacidad], [TipoTemporada], [PrecioOrdinario], [PrecioEspecial], [EsVisitaDia], [MinAcompanantesTarifaEspecial], [PrecioAcompananteAdicional]) VALUES (120, 8, 48, 6, N'Baja', CAST(89000.00 AS Decimal(18, 2)), NULL, 0, NULL, NULL)
INSERT [dbo].[TarifaConfig] ([TarifaConfigId], [SedeId], [EspacioId], [Capacidad], [TipoTemporada], [PrecioOrdinario], [PrecioEspecial], [EsVisitaDia], [MinAcompanantesTarifaEspecial], [PrecioAcompananteAdicional]) VALUES (121, 8, 49, 6, N'Baja', CAST(89000.00 AS Decimal(18, 2)), NULL, 0, NULL, NULL)
INSERT [dbo].[TarifaConfig] ([TarifaConfigId], [SedeId], [EspacioId], [Capacidad], [TipoTemporada], [PrecioOrdinario], [PrecioEspecial], [EsVisitaDia], [MinAcompanantesTarifaEspecial], [PrecioAcompananteAdicional]) VALUES (122, 8, 47, 8, N'Baja', CAST(103000.00 AS Decimal(18, 2)), NULL, 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[TarifaConfig] OFF
GO
SET IDENTITY_INSERT [dbo].[Temporada] ON 

INSERT [dbo].[Temporada] ([TemporadaId], [Tipo], [Nombre], [FechaInicio], [FechaFin]) VALUES (5, N'Alta', N'Semana Santa 2026', CAST(N'2026-03-28' AS Date), CAST(N'2026-04-05' AS Date))
INSERT [dbo].[Temporada] ([TemporadaId], [Tipo], [Nombre], [FechaInicio], [FechaFin]) VALUES (6, N'Alta', N'Receso mitad de año 2026', CAST(N'2026-06-15' AS Date), CAST(N'2026-07-15' AS Date))
INSERT [dbo].[Temporada] ([TemporadaId], [Tipo], [Nombre], [FechaInicio], [FechaFin]) VALUES (7, N'Alta', N'Receso escolar octubre 2026', CAST(N'2026-10-03' AS Date), CAST(N'2026-10-12' AS Date))
SET IDENTITY_INSERT [dbo].[Temporada] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Caracter__75E3EFCF4A90A748]    Script Date: 25/05/2026 11:37:26 p. m. ******/
ALTER TABLE [dbo].[Caracteristica] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departam__75E3EFCF58731AEE]    Script Date: 25/05/2026 11:37:26 p. m. ******/
ALTER TABLE [dbo].[Departamento] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__973C82AC1F9D2C5D]    Script Date: 25/05/2026 11:37:26 p. m. ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[DireccionEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__CC62C91D85BFFCDB]    Script Date: 25/05/2026 11:37:26 p. m. ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[NroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Espacio] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Reserva] ADD  DEFAULT ('Hospedaje') FOR [TipoReserva]
GO
ALTER TABLE [dbo].[Reserva] ADD  DEFAULT ((0)) FOR [IncluyeLavanderia]
GO
ALTER TABLE [dbo].[Reserva] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Reserva] ADD  DEFAULT (sysutcdatetime()) FOR [CreadoEn]
GO
ALTER TABLE [dbo].[TarifaConfig] ADD  DEFAULT ('Baja') FOR [TipoTemporada]
GO
ALTER TABLE [dbo].[TarifaConfig] ADD  DEFAULT ((0)) FOR [EsVisitaDia]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [AutorizaCorreo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [AutorizaCelular]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Espacio]  WITH CHECK ADD  CONSTRAINT [FK_Espacio_Sede] FOREIGN KEY([SedeId])
REFERENCES [dbo].[Sede] ([SedeId])
GO
ALTER TABLE [dbo].[Espacio] CHECK CONSTRAINT [FK_Espacio_Sede]
GO
ALTER TABLE [dbo].[EspacioCaracteristica]  WITH CHECK ADD  CONSTRAINT [FK_EspacioChar_Char] FOREIGN KEY([CaracteristicaId])
REFERENCES [dbo].[Caracteristica] ([CaracteristicaId])
GO
ALTER TABLE [dbo].[EspacioCaracteristica] CHECK CONSTRAINT [FK_EspacioChar_Char]
GO
ALTER TABLE [dbo].[EspacioCaracteristica]  WITH CHECK ADD  CONSTRAINT [FK_EspacioChar_Espacio] FOREIGN KEY([EspacioId])
REFERENCES [dbo].[Espacio] ([EspacioId])
GO
ALTER TABLE [dbo].[EspacioCaracteristica] CHECK CONSTRAINT [FK_EspacioChar_Espacio]
GO
ALTER TABLE [dbo].[Municipio]  WITH CHECK ADD  CONSTRAINT [FK_Municipio_Departamento] FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamento] ([DepartamentoId])
GO
ALTER TABLE [dbo].[Municipio] CHECK CONSTRAINT [FK_Municipio_Departamento]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Espacio] FOREIGN KEY([EspacioId])
REFERENCES [dbo].[Espacio] ([EspacioId])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Espacio]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Sede] FOREIGN KEY([SedeId])
REFERENCES [dbo].[Sede] ([SedeId])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Sede]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Usuario]
GO
ALTER TABLE [dbo].[ServicioExtra]  WITH CHECK ADD  CONSTRAINT [FK_ServicioExtra_Sede] FOREIGN KEY([SedeId])
REFERENCES [dbo].[Sede] ([SedeId])
GO
ALTER TABLE [dbo].[ServicioExtra] CHECK CONSTRAINT [FK_ServicioExtra_Sede]
GO
ALTER TABLE [dbo].[TarifaConfig]  WITH CHECK ADD  CONSTRAINT [FK_TarifaConfig_Espacio] FOREIGN KEY([EspacioId])
REFERENCES [dbo].[Espacio] ([EspacioId])
GO
ALTER TABLE [dbo].[TarifaConfig] CHECK CONSTRAINT [FK_TarifaConfig_Espacio]
GO
ALTER TABLE [dbo].[TarifaConfig]  WITH CHECK ADD  CONSTRAINT [FK_TarifaConfig_Sede] FOREIGN KEY([SedeId])
REFERENCES [dbo].[Sede] ([SedeId])
GO
ALTER TABLE [dbo].[TarifaConfig] CHECK CONSTRAINT [FK_TarifaConfig_Sede]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Municipio] FOREIGN KEY([MunicipioId])
REFERENCES [dbo].[Municipio] ([MunicipioId])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Municipio]
GO
ALTER TABLE [dbo].[Espacio]  WITH CHECK ADD CHECK  (([Capacidad]>=(1)))
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD CHECK  (([TipoReserva]='Visita Dia' OR [TipoReserva]='Hospedaje'))
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [CK_Reserva_Rango] CHECK  (([FechaFin]>=[FechaInicio]))
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [CK_Reserva_Rango]
GO
ALTER TABLE [dbo].[Sede]  WITH CHECK ADD CHECK  (([TipoSede]='Apartamento' OR [TipoSede]='Sede Recreativa'))
GO
ALTER TABLE [dbo].[TarifaConfig]  WITH CHECK ADD CHECK  (([TipoTemporada]='RecesoEscolar' OR [TipoTemporada]='Alta' OR [TipoTemporada]='Baja'))
GO
ALTER TABLE [dbo].[Temporada]  WITH CHECK ADD CHECK  (([Tipo]='RecesoEscolar' OR [Tipo]='Alta'))
GO
ALTER TABLE [dbo].[Temporada]  WITH CHECK ADD  CONSTRAINT [CK_Temporada_Rango] CHECK  (([FechaFin]>=[FechaInicio]))
GO
ALTER TABLE [dbo].[Temporada] CHECK CONSTRAINT [CK_Temporada_Rango]
GO
/****** Object:  StoredProcedure [dbo].[sp_CalcularTarifaReserva]    Script Date: 25/05/2026 11:37:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CalcularTarifaReserva]
    @SedeId INT,
    @EspacioId INT = NULL,
    @TipoTemporada VARCHAR(20),
    @NumHabitaciones INT,
    @NumPersonas INT,
    @Noches INT,
    @TipoReserva VARCHAR(20),
    @FechaInicio DATE,
    @FechaFin DATE
AS
BEGIN
    SET NOCOUNT ON;
    SET DATEFIRST 1; -- Lunes = 1

    DECLARE @Total DECIMAL(18,2) = 0;
    DECLARE @TarifaOrd DECIMAL(18,2) = 0;
    DECLARE @TarifaEsp DECIMAL(18,2) = 0;
    DECLARE @MinAcomp INT = 0;
    DECLARE @PrecioExtra DECIMAL(18,2) = 0;

    IF (@TipoReserva = 'Visita Dia')
    BEGIN
        SELECT TOP(1)
            @MinAcomp = ISNULL(tc.MinAcompanantesTarifaEspecial, 0),
            @PrecioExtra = ISNULL(tc.PrecioAcompananteAdicional, 0)
        FROM TarifaConfig tc
        WHERE tc.SedeId = @SedeId AND tc.EsVisitaDia = 1;

        DECLARE @Extras INT = CASE WHEN @NumPersonas > (@MinAcomp - 1) THEN @NumPersonas - (@MinAcomp - 1) ELSE 0 END;
        SET @Total = @Extras * @PrecioExtra;
    END
    ELSE
    BEGIN
        SELECT TOP(1)
            @TarifaOrd = ISNULL(tc.PrecioOrdinario, 0),
            @TarifaEsp = ISNULL(tc.PrecioEspecial, 0)
        FROM TarifaConfig tc
        WHERE tc.SedeId = @SedeId
          AND tc.TipoTemporada = @TipoTemporada
          AND tc.EsVisitaDia = 0
          AND tc.Capacidad >= @NumPersonas
          AND (tc.EspacioId = @EspacioId OR tc.EspacioId IS NULL)
        ORDER BY
            CASE WHEN tc.EspacioId = @EspacioId THEN 0 ELSE 1 END,
            tc.Capacidad ASC;

        ;WITH Dias AS
        (
            SELECT CAST(@FechaInicio AS DATE) AS Fecha
            UNION ALL
            SELECT DATEADD(DAY, 1, Fecha)
            FROM Dias
            WHERE Fecha < DATEADD(DAY, -1, @FechaFin)
        ),
        DiasClasificados AS
        (
            SELECT
                d.Fecha,
                CASE
                    WHEN EXISTS (
                        SELECT 1
                        FROM Festivo f
                        WHERE f.Fecha = d.Fecha
                    ) THEN 0
                    WHEN EXISTS (
                        SELECT 1
                        FROM Temporada t
                        WHERE t.Tipo = 'Alta'
                          AND t.FechaInicio <= d.Fecha
                          AND t.FechaFin >= d.Fecha
                    ) THEN 0
                    WHEN DATEPART(WEEKDAY, d.Fecha) BETWEEN 1 AND 4 THEN 1
                    ELSE 0
                END AS EsEspecial
            FROM Dias d
        )
        SELECT
            @Total =
                (SUM(CASE WHEN EsEspecial = 1 THEN 1 ELSE 0 END) * CASE WHEN @TarifaEsp > 0 THEN @TarifaEsp ELSE @TarifaOrd END) +
                (SUM(CASE WHEN EsEspecial = 0 THEN 1 ELSE 0 END) * @TarifaOrd)
        FROM DiasClasificados
        OPTION (MAXRECURSION 0);

        IF (@Total IS NULL OR @Total = 0)
        BEGIN
            SET @Total = @TarifaOrd;
        END

        SET @Total = @Total * CASE WHEN @NumHabitaciones < 1 THEN 1 ELSE @NumHabitaciones END;
    END

    SELECT @Total AS ValorTotal;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerHabitacionesDisponibles]    Script Date: 25/05/2026 11:37:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- SP 1: Encontrar habitaciones disponibles en un rango de fechas
-- ==========================================================================================
CREATE PROCEDURE [dbo].[sp_ObtenerHabitacionesDisponibles]
    @SedeId INT,
    @FechaInicio DATE,
    @FechaFin DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT e.EspacioId, e.SedeId, e.NumeroAlojamiento, e.Capacidad, e.Activo
    FROM dbo.Espacio e
    WHERE e.SedeId = @SedeId 
      AND e.Activo = 1
      AND e.EspacioId NOT IN (
          SELECT r.EspacioId 
          FROM dbo.Reserva r
          WHERE r.EspacioId IS NOT NULL
            AND r.Estado <> 'Cancelada'
            AND (@FechaInicio < r.FechaFin AND @FechaFin > r.FechaInicio)
      );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerHabitacionesDisponiblesPorCupo]    Script Date: 25/05/2026 11:37:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================================================================
-- SP 2: Habitaciones disponibles por rango de fechas Y número de personas
-- ==========================================================================================
CREATE PROCEDURE [dbo].[sp_ObtenerHabitacionesDisponiblesPorCupo]
    @SedeId INT,
    @FechaInicio DATE,
    @FechaFin DATE,
    @NumPersonas INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT e.EspacioId, e.SedeId, e.NumeroAlojamiento, e.Capacidad, e.Activo
    FROM dbo.Espacio e
    WHERE e.SedeId = @SedeId 
      AND e.Activo = 1
      AND e.Capacidad >= @NumPersonas -- Filtro por el cupo requerido
      AND e.EspacioId NOT IN (
          SELECT r.EspacioId 
          FROM dbo.Reserva r
          WHERE r.EspacioId IS NOT NULL
            AND r.Estado <> 'Cancelada'
            AND (@FechaInicio < r.FechaFin AND @FechaFin > r.FechaInicio)
      );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerTarifas]    Script Date: 25/05/2026 11:37:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ObtenerTarifas]
    @SedeId INT,
    @TipoTemporada VARCHAR(20),
    @NumPersonas INT,
    @EspacioId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH TarifasFiltradas AS
    (
        SELECT
            tc.TarifaConfigId,
            tc.SedeId,
            tc.EspacioId,
            tc.Capacidad,
            tc.TipoTemporada,
            tc.PrecioOrdinario,
            tc.PrecioEspecial,
            tc.EsVisitaDia,
            tc.MinAcompanantesTarifaEspecial,
            tc.PrecioAcompananteAdicional,
            ROW_NUMBER() OVER (
                PARTITION BY ISNULL(tc.EspacioId, -1)
                ORDER BY tc.Capacidad ASC
            ) AS rn
        FROM TarifaConfig tc
        WHERE tc.SedeId = @SedeId
          AND tc.TipoTemporada = @TipoTemporada
          AND tc.Capacidad >= @NumPersonas
          AND tc.EsVisitaDia = 0
          AND (@EspacioId IS NULL OR tc.EspacioId = @EspacioId)
    )
    SELECT
        TarifaConfigId,
        SedeId,
        EspacioId,
        Capacidad,
        TipoTemporada,
        PrecioOrdinario,
        PrecioEspecial,
        EsVisitaDia,
        MinAcompanantesTarifaEspecial,
        PrecioAcompananteAdicional
    FROM TarifasFiltradas
    WHERE rn = 1
    ORDER BY
        CASE WHEN EspacioId = @EspacioId THEN 0 ELSE 1 END,
        Capacidad;
END
GO
USE [master]
GO
